.card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;

    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #caf0f8;
    border-radius: 8px;
}   

.card .delete {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;

    font-size: 18px;
    font-weight: 600;
}

.card .name {
    font-weight: 600;
    font-size: 18px;
}

.card .options {
    display: flex;
    justify-content: space-between;
}

.card .options .win {
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #06d6a0;
}

.card .options .stop {
    border: none;
    background-color: #ef476f;
    padding: 12px;
    border-radius: 6px;
    color: white;
}